* {
    display: flex;
}

.left {
   width: 40vw;
   height: 50vh;
   background-image: url(./content/halie-west-25xggax4bSA-unsplash.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   border-top-left-radius: 20px;
   border-bottom-left-radius: 20px;
}

.photo {
    width: 50vw;
    height: 10vh;
    justify-content: center;
    align-self: center;
    background-color: white;
    opacity: 50%;
}

.gyg {
    display: flex;
    align-items: center;
    font-size: xx-large;
}

.right {
    width: 40vw;
    height: 50vh;
    flex-direction: column;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgb(123, 165, 103);
}

.signUp {
    background-color: rgb(123, 165, 103);
    flex-direction: column;
    height: 50vh;
    justify-content: center;
    padding-left: 10px;
    border-radius: 20px;
}

#req {
    margin: 0;
}

.form-title {
    width: 100%;
}

.form {
    width: 50vw;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: cursive;
}

.input {
    padding-bottom: 10px;
}

input:focus {
    outline: none;
    border-color: rgb(83, 202, 253);
    border-radius: 1px;
}

input[type="password"]:focus:invalid,
input[type="email"]:focus:invalid {
    border-color: red;
}

input[type="password"]:focus:valid,
input[type="email"]:focus:valid {
    border-color: green;
}

::placeholder {
    opacity: 30%;
}